# {
    padding: 0;
    margin: 0 auto;
    box-sizing: content-box;

}

#resize {
    border: 2px solid rgb(17, 0, 255);
    border-radius: 50% 
    width: 300px;
    height: 300px;
    Float: left
}

body {
    background-color: aliceblue;
    align-items: center;
    justify-content: center;

}

.box {
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border: 2px;
}


}

.text-box {
    margin: 20 px;
    padding: 6px;
    ;
    border: 2px
}