# {
    padding: 0;
    margin: 0 auto;
    box-sizing: content-box;

}

img {
    height: 200px;
    width: 200px;
}

body {
    background-color: aliceblue;
     align-items: center;
    justify-content: center;
}